<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Twitter TaskFoce</title>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/
all.min.css">
 <link rel="stylesheet" href="static/css/main.css">
 </head>

<body>
    <div class="main">
        <div class = "header"> 
            <h1>Twitter TaskFoce</h1>
        </div>
        <form action="admin" method="post">
            <h2>Login :</h2>
          
                    <label for="username">Username</label>
                    <input type="text" name="username">

                    <label for="password">Password</label>
                    <input type="password" name ="password">
                      <button type="submit" class="submit_btn">Login</button>
                </form>
        </form>
        <div class="footer">Copy Right</div>
    </div>
  
</body>
</html>